name: musicapi

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get version tag
        id: get_version
        run: |
          VERSION=$(grep -m 1 '^version =' pyproject.toml | cut -d '"' -f 2)
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT

      - name: Build the Docker image
        run: |
          docker build . \
            --file Dockerfile \
            --tag ghcr.io/fsdmu/musicapi:${{ steps.get_version.outputs.VERSION }}

      - name: Log in to GitHub Container Registry
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push the Docker image
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: |
          docker push ghcr.io/fsdmu/musicapi:${{ steps.get_version.outputs.VERSION }}
          docker tag ghcr.io/fsdmu/musicapi:${{ steps.get_version.outputs.VERSION }} ghcr.io/fsdmu/musicapi:latest
          docker push ghcr.io/fsdmu/musicapi:latest